/****************************************************************************


copydlg.rc

produced by Borland Resource Workshop


*****************************************************************************/

#include "copydlg.rh"

COPY_DIALOG DIALOG 10, 22, 253, 166
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg_Gray"
CAPTION "Copying"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "OK", IDOK, 12, 146, 50, 14
 PUSHBUTTON "Cancel", IDCANCEL, 72, 146, 50, 14
 PUSHBUTTON "Tree", IDTREE, 132, 146, 50, 14, WS_DISABLED | WS_TABSTOP
 PUSHBUTTON "Help", IDHELP, 192, 146, 50, 14, WS_DISABLED | WS_TABSTOP
 COMBOBOX IDPATH, 12, 14, 230, 14, CBS_DROPDOWN | CBS_AUTOHSCROLL | WS_TABSTOP
 GROUPBOX "", IDCOPYMODEGROUP, 12, 28, 230, 73, BS_GROUPBOX
 GROUPBOX "", IDWRITEGROUP, 12, 102, 230, 38, BS_GROUPBOX
 CONTROL "Copy the Directory", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 12, 3, 230, 11
 CONTROL "Overwrite all exists files", ID_OVERWRITE, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 17, 38, 220, 10
 CONTROL "Add to all exists files", ID_ADDTOEXISTS, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 17, 50, 220, 10
 CONTROL "Writing confirmation ", ID_CONFIRMWRITE, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 17, 62, 220, 10
 CONTROL "Skip all exists fils", ID_SKIPEXISTS, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 17, 74, 220, 10
 CONTROL "Refresh old files", ID_REFRESHOLD, "BorRadio", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 17, 86, 220, 10
 CONTROL "Verify disk free space", ID_VERIFYFREE, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 17, 112, 110, 10
 CONTROL "Verify writing on disk", ID_VERIFYWRITING, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 17, 124, 110, 10
 CONTROL "Copy descriptions", ID_COPYDESCRIPTION, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 130, 112, 110, 10
 CONTROL "Erase source files", ID_ERASESOURCE, "BorCheck", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 130, 124, 110, 10
}


COPYPROGRESS DIALOG 6, 15, 194, 119
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CLASS "BorDlg_Gray"
CAPTION "Copying"
FONT 8, "MS Sans Serif"
{
 DEFPUSHBUTTON "Stop", IDSTOP, 72, 96, 50, 14, BS_DEFPUSHBUTTON | NOT WS_TABSTOP
 CONTROL "Reading", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 11, 165, 12
 CONTROL "Writing", -1, "BorStatic", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 15, 46, 165, 14
}

